<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ABC">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="WCF_Nov.MathService" behaviorConfiguration="ABC">
        <endpoint address="MyMathSVC" binding="basicHttpBinding" contract="WCF_Nov.IMathService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8085/WCFService/" />
          </baseAddresses>
        </host>
      </service>

    </services>

  </system.serviceModel>
</configuration>